<div class="heading">Nord Deck</div>

<div class="all-cards-wrap">
  <div class="all-cards">

    <div class="clear-space"></div>

    <div class="card-wrap" v-repeat="card: cards">
      <div class="bla ani"></div>
      <div class="card-img card" v-style="background-image: 'url(http://80.240.132.120/gwent/assets/cards/' + card.img + '.png)'"></div>
      <div class="shadow"></div>
      <div class="overlay-card"></div>
    </div>

    <div class="clear-space"></div>

  </div>
</div>

  <!--div class="line"></div-->

  <style>
.container-content {
  padding: 0;
}

    .test {
      float: left;
      overflow: hidden;
    }
  </style>