node_modules
.idea
!public/Config.js
public
test/spec
assets/cards/*
client/scss/_cards.scss

/site/.idea
/site/server/vendor
/site/server/.env
/site/client/node_modules
/site/public/assets/js/bundle.js
/site/public/assets/css/app.css
site/server/composer.lock
