<div class="col-xs-4 field-discard field-single">
  <i class="discard-skull"></i>
</div>
<div class="col-xs-4 field-deck field-single">
  <i class="icon-deck"></i>
  <span class="field-deck-number">{{data.deck}}</span>
</div>