<div class="col-xs-12 game-info game-info-foe foe">
  <div class="col-xs-12 info-name">{{name}}</div>
  <div class="col-xs-6 field-single field-leader"></div>
  <div class="col-xs-6">
    <div class="row">
      <div class="col-xs-6">Points:</div>
      <div class="col-xs-6 score">{{score}}</div>
    </div>
    <div class="row">
      <div class="col-xs-6">Hand:</div>
      <div class="col-xs-6 hand-card">{{hand}}</div>
    </div>
    <div class="row">
      <div class="col-xs-12 gwent-lives">
        {{#health}}
        {{/health}}
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 passing">Passed</div>
    </div>
  </div>
</div>