<div class="col-xs-12 info-name">{{data.name}}</div>
<div class="col-xs-6 col-lg-6 field-single field-leader">{{>card leader}}</div>
<div class="col-xs-6 col-lg-6">
  <div class="row">
    <div class="col-xs-4 info-title">Points:</div>
    <div class="col-xs-4 score">{{data.score}}</div>
  </div>
  <div class="row">
    <div class="col-xs-4 info-title">Hand:</div>
    <div class="col-xs-4 hand-card">{{data.hand}}</div>
  </div>
  <!--div class="row">
    <div class="col-xs-4"></div>
    <div class="col-xs-4">Deck:</div>
    <div class="col-xs-4 hand-card">{{data.deck}}</div>
  </div-->
  <div class="row">
    <div class="col-xs-12 gwent-lives">
      {{#health data.lives}}
      {{/health}}
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 passing">{{#if data.passing}}Passed{{/if}}</div>
  </div>
</div>
{{#if passBtn}}
<div class="col-xs-12 button-pass-wrap">
  <button class="button-pass">Pass</button>
</div>
{{/if}}