<div class="col-xs-12">
  <div class="panel panel-default">
    <div class="panel-heading">Gwent
      {{#if serverOffline}}
        <span class="pull-right">Server Status: <span class="label label-danger">Offline</span></span>
      {{else}}
        <span class="pull-right">Server Status: <span class="label label-success">Online</span></span>
      {{/if}}
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-12">
          <input type="text" class="name-input" value="{{name}}">
          <select id="deckChoice">
            <option value="random">Deck: Random</option>
            <option value="northern">Deck: Northern Realms</option>
            <option value="scoiatael">Deck: Scoia'tael</option>
            <option value="monster">Deck: Monster</option>
            <option value="nilfgaardian">Deck: Nilfgaardian</option>
          </select>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-xs-12">
          <button type="button" class="btn btn-primary startMatchmaking"{{#if inMatchmakerQueue}} disabled{{/if}}>
            Search Opponent
            {{#if inMatchmakerQueue}}
              <i class="image-gif-loader pull-right"></i>
            {{/if}}
          </button>
          <!--<button type="button" class="btn btn-success note">debug note</button>-->
        </div>
      </div>
    </div>
  </div>
</div>