<div class="col-xs-12">
  <div class="panel panel-default">
    <div class="panel-heading">Gwent</div>
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-12">
          <input type="text" class="name-input" value="{{name}}">
          <select id="deckChoice">
            <option value="northern_realm">Deck: Northern Realms</option>
            <option value="scoiatael">Deck: Scoia'tael</option>
            <option value="monster">Deck: Monster</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button type="button" class="btn btn-primary startMatchmaking"{{#if inMatchmakerQueue}} disabled{{/if}}>
          Search Opponent
          {{#if inMatchmakerQueue}}<img src="../site/public/assets/img/content-load.gif" width=20 style="margin: 5px;"> {{/if}}
          </button>
          <!--<button type="button" class="btn btn-primary join-room">Join Room</button>-->
        </div>
      </div>
    </div>
  </div>
</div>