<div class="bbm-modal__topbar">
  <h3 class="bbm-modal__title">Choose up to 2 cards you wish to redraw!</h3>
</div>
<div class="bbm-modal__section">
  {{#each handCards as |val key|}}
    {{>card val}}
  {{/each}}
</div>
<div class="bbm-modal__bottombar">
  <div class="bbm-button bbm-close">close</div>
</div>