<div class="bbm-modal__topbar">
  <h3 class="bbm-modal__title">Choose which side should begin</h3>
</div>
<div class="bbm-modal__section">
  <div class="btn btn-primary" data-id="you">You</div>
  <div class="btn btn-primary" data-id="foe">Foe</div>
</div>
