<div class="bbm-modal__topbar">
  <h3 class="bbm-modal__title">Choose one card from your discard pile</h3>
  <span class="btn-sub bbm-close">DONE</span>
</div>
<div class="bbm-modal__section">
  {{#each medicDiscard.cards as |val key|}}
    {{>card val}}
  {{/each}}
</div>