<div class="bbm-modal__topbar">
  <h3 class="bbm-modal__title">Discard of {{openDiscard.name}}</h3>
  <span class="btn-sub bbm-close">CLOSE</span>
</div>
<div class="bbm-modal__section">
  {{#each openDiscard.discard as |val key|}}
    {{>card val}}
  {{/each}}
</div>