{{#each this}}
  <div class="card{{#if _disabled}} disabled{{/if}}" data-key="{{_key}}" data-id="{{_id}}">
    {{#if boost}}<span>+{{boost}}</span>{{/if}}
    <img src="../assets/cards/{{_data.img}}.png">
  </div>
{{/each}}