<div class="modal" v-class="active: modal">
  <div class="modal-banner">
    <div class="wrap-modal">

      <form class="form-session form-login">
        <input type="text" placeholder="Username" class="field-session">
        <input type="password" placeholder="Password" class="field-session">

        <div class="wrap-btn-action btn-login-action">
          <input type="submit" value="Login" class="btn-action">
          <i class="icon-load"></i>
        </div>
      </form>

    </div>
  </div>
</div>