<div class="modal" v-class="active: modal">
  <div class="modal-banner">
    <div class="wrap-modal-login">

      <form class="form-session">
        <input type="text" placeholder="Username" class="field-session login-username">
        <input type="password" placeholder="Password" class="field-session login-password">

        <div class="wrap-btn-action btn-register-action">
          <input type="submit" value="Login" class="btn-action">
          <i class="icon-action-load"></i>
        </div>

        <span class="btn-sub">Forgot Password?</span>
      </form>

    </div>
  </div>
</div>