<style>
  .card {
    float: left;
    border-radius: 12px;
    position: relative;
    z-index: 10;;
  }

  .bla {
    padding: 4px;
    float: left;
    border-radius: 14px;
    margin: 100px;
    position: relative;

    box-shadow: 0 0 2px 0 orange;
  }

  .shadow {
    border-radius: 35%;
    box-shadow: 0 0 15px 14px #ffa500;
    content: "";
    height: calc(100% - 40px);
    left: 10px;
    position: absolute;
    width: calc(100% - 20px);
    z-index: 1;
    top: 20px;
    transition: all 0.3s ease-in-out 0s;

    -webkit-animation: Shadow 4s ease-in-out infinite;
    -moz-animation: Shadow 4s ease-in-out infinite;
    animation: Shadow 4s ease-in-out infinite;
  }


  .ani {
    background: linear-gradient(2deg, #ffa500, #ffd68b, #ffa500, #ffa500);
    background-size: 800% 800%;

    -webkit-animation: AnimationName 3s ease infinite;
    -moz-animation: AnimationName 3s ease infinite;
    animation: AnimationName 3s ease infinite;

  }

  @-webkit-keyframes Shadow {
    0% {
      opacity: 0;
    }
    25% {
      opacity: .5;
    }
    50%{
      opacity: 1;
    }
    75% {
      opacity: .5;
    }
    100%{      opacity: 0;
    }
  }

  @-webkit-keyframes Shadow {
    0% {
      opacity: 0;
    }
    25% {
      opacity: .5;
    }
    50%{
      opacity: 1;
    }
    75% {
      opacity: .5;
    }
    100%{      opacity: 0;
    }
  }

  @keyframes Shadow {
    0% {
      opacity: 0;
    }
    25% {
      opacity: .5;
    }
    50%{
      opacity: 1;
    }
    75% {
      opacity: .5;
    }
    100%{      opacity: 0;
    }
  }

  .overlay-card {
    background: linear-gradient(2deg, rgba(255,255,255,.05), rgba(255,255,255,.3), rgba(255,255,255,.1));
    background-size: 800% 800%;
    position: absolute;
    z-index: 20;
    width: calc(100% - 5px);
    height: calc(100% - 5px);

    -webkit-animation: AnimationName 10s ease infinite;
    -moz-animation: AnimationName 10s ease infinite;
    animation: AnimationName 10s ease infinite;
  }

  @-webkit-keyframes AnimationName {
    0%{background-position:51% 0%}
    50%{background-position:50% 100%}
    100%{background-position:51% 0%}
  }
  @-moz-keyframes AnimationName {
    0%{background-position:51% 0%}
    50%{background-position:50% 100%}
    100%{background-position:51% 0%}
  }
  @keyframes AnimationName {
    0%{background-position:51% 0%}
    50%{background-position:50% 100%}
    100%{background-position:51% 0%}
  }
</style>

  <div class="bla ani">
    <img src="http://80.240.132.120/gwent/assets/cards/ballista1.png" class="card" width="150" height="auto">
    <div class="shadow"></div>
    <div class="overlay-card"></div>
  </div>

</div>