* {
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  width: 100%;
  font-family: 'Titillium Web', sans-serif;
}

body.inner {
  background: url(../img/inner-bg.jpg) center top no-repeat;
  background-size: cover;
}

::-moz-selection {
  background: rgba($main, .99);
  color: #fff;
  text-shadow: none;
}

::selection {
  background: rgba($main, .99);
  color: #fff;
  text-shadow: none;
}

input, textarea {
  font-family: 'Titillium Web', sans-serif;
  outline: 0;
}

a { text-decoration: none; }
ul { list-style: none; }