.container-chat {
  float: right;
  width: 29%;

  a {
    font-size: 14px;
    padding: 18px;
  }
}

.chat {
  float: left;
  width: 100%;
  padding: 20px;
  height: calc(100vh - 200px);
  min-height: 400px;
  clear: both;
  position: relative;

  color: #fff;

  @include contentGradient();
}

.chats {
  float: left;
  overflow-y: auto;
  height: calc(100% - 80px);
  width: 100%;
}

.chatbox {
  height: 80px;
  float: left;
  width: 100%;
  border: 0;
  resize: none;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px;
  font-size: 15px;
  font-weight: 300;
  color: #8798ac;

  @include contentGradient();
}