.icon-load {
  background: url(../img/load.gif) no-repeat;
  width: 16px;
  height: 16px;
  float: right;
  margin: 5px -7px 0 7px;
  display: none;
}

.form-session {
  float: left;
}

.field-session {
  float: left;
  padding: 10px 20px;
  border: 0;
  color: #8798ac;
  font-size: 16px;
  margin: 0 10px 0 0;
  height: 48px;
  width: 220px;

  @include secondGradient();

  .container-form-landing & {
    width: 170px;
  }
}

.wrap-btn-action {
  float: left;
  padding: 10px 20px;
  cursor: pointer;
  height: 48px;

  @include mainGradient();
  @include transition(box-shadow);

  &:hover {
    box-shadow: 0 0 10px 0 rgba($main, .8);
  }
}

.btn-action {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  border: 0;
  background: transparent;
  cursor: pointer;

  float: left;
  text-transform: uppercase;
}

.btn-second,
.btn-none {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  border: 0;
  padding: 10px 20px;
  float: left;
  position: relative;
  cursor: pointer;
  height: 48px;
  text-transform: uppercase;
  text-decoration: none;

  @include secondGradient();
  @include transition();
}

.btn-second {

  &:hover {
    box-shadow: 0 0 10px 0 rgba(#fff, .1);
  }
}

.btn-none {
  background: transparent;
  color: #8798ac;

  &:hover {
    color: #fff;
  }
}

::-webkit-input-placeholder {
  color: darken(#8798ac, 10%);
}
:-moz-placeholder {
  color: darken(#8798ac, 10%);
  opacity:  1;
}
::-moz-placeholder {
  color: darken(#8798ac, 10%);
  opacity:  1;
}
:-ms-input-placeholder {
  color: darken(#8798ac, 10%);
}

.form-error {
  float: left;
  clear: both;
  color: #c64b4b;
  font-size: 15px;
  margin: 20px 0;
  display: none;
}