body.inner {
  background: url(../img/inner-bg.jpg) #162232 center top no-repeat;
  background-size: cover;
  padding: 40px;
}

.logo-medium {
  float: left;
}

main {
  float: left;
  clear: both;
  width: 70%;
}

.container-content {
  float: left;
  width: 100%;
  padding: 20px;
  height: calc(100vh - 150px);
  min-height: 400px;
  clear: both;

  color: #fff;

  @include contentGradient();
}