.card-img {
  background-size: 120px 227px;
  width: 120px;
  height: 227px;
}

.card {
  float: left;
  border-radius: 12px;
  position: relative;
  z-index: 10;
  top: 3px;
  left: 3px;
}

.bla {
  border-radius: 14px;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
}

.card-wrap:hover .bla {
  box-shadow: 0 0 2px 0 orange;
  opacity: 1;
}

.shadow {
  border-radius: 35%;
  box-shadow: 0 0 15px 14px #ffa500;
  content: "";
  height: calc(100% - 50px);
  left: 15px;
  position: absolute;
  width: calc(100% - 22px);
  z-index: 1;
  top: 30px;
  transition: all 0.3s ease-in-out 0s;
  opacity: 0;
}

.card-wrap:hover .shadow {
  -webkit-animation: Shadow 4s ease-in-out infinite;
  -moz-animation: Shadow 4s ease-in-out infinite;
  animation: Shadow 4s ease-in-out infinite;
}

.ani {
  background: linear-gradient(2deg, #000, #000, #000, #000);;
  transition: all .05s ease-in-out 0s;
}

.card-wrap .ani {
  background: linear-gradient(2deg, #ffa500, #ffd68b, #ffa500, #ffa500);
  background-size: 800% 800%;

  -webkit-animation: AnimationName 3s ease infinite;
  -moz-animation: AnimationName 3s ease infinite;
  animation: AnimationName 3s ease infinite;
}

@-webkit-keyframes Shadow {
  0% {
    opacity: 0;
  }
  25% {
    opacity: .5;
  }
  50%{
    opacity: 1;
  }
  75% {
    opacity: .5;
  }
  100%{      opacity: 0;
  }
}

@-webkit-keyframes Shadow {
  0% {
    opacity: 0;
  }
  25% {
    opacity: .5;
  }
  50%{
    opacity: 1;
  }
  75% {
    opacity: .5;
  }
  100%{      opacity: 0;
  }
}

@keyframes Shadow {
  0% {
    opacity: 0;
  }
  25% {
    opacity: .5;
  }
  50%{
    opacity: 1;
  }
  75% {
    opacity: .5;
  }
  100%{      opacity: 0;
  }
}

.overlay-card {
  background: linear-gradient(2deg, rgba(255,255,255,.03), rgba(255,255,255,.2), rgba(255,255,255,.05));
  background-size: 800% 800%;
  position: absolute;
  z-index: 20;
  top: 10px;
  left: 10px;
  width: calc(100% - 10px);
  height: calc(100% - 5px);
  border-radius: 12px;
  opacity: 0;
  cursor: pointer;
}

.card-wrap:hover .overlay-card {
  opacity: 1;
  -webkit-animation: AnimationName 10s ease infinite;
  -moz-animation: AnimationName 10s ease infinite;
  animation: AnimationName 10s ease infinite;
}

@-webkit-keyframes AnimationName {
  0%{background-position:51% 0%}
  50%{background-position:50% 100%}
  100%{background-position:51% 0%}
}
@-moz-keyframes AnimationName {
  0%{background-position:51% 0%}
  50%{background-position:50% 100%}
  100%{background-position:51% 0%}
}
@keyframes AnimationName {
  0%{background-position:51% 0%}
  50%{background-position:50% 100%}
  100%{background-position:51% 0%}
}

.card-wrap {
  float: left;
  width: 126px;
  height: 233px;
  position: relative;
  padding: 4px;

  //transition: transform .1s ease-in-out 0s;

}

.card-wrap:hover {
  z-index: 100;
  //transform: scale(1.01,1.01) !important;
}

/**
 * DECK BUILDER
 */

.all-cards {
  float: left;
  width: calc(100% + 50px);
  height: 100%;
  overflow-y: auto;
  //padding: 40px;
}

.all-cards-wrap {
  overflow: hidden;
  width: 53%;
  float: left;
  height: calc(100% + 40px);
  padding: 0 20px;
  margin: -100px 0 0 0;
}

.test {
  height: 100%;
}

.line {
  background: -moz-linear-gradient(top, rgba(64,150,238,0) 0%, rgba(58,73,96,1) 52%, rgba(64,150,238,0) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(64,150,238,0)), color-stop(52%,rgba(58,73,96,1)), color-stop(100%,rgba(64,150,238,0)));
  background: -webkit-linear-gradient(top, rgba(64,150,238,0) 0%,rgba(58,73,96,1) 52%,rgba(64,150,238,0) 100%);
  background: -o-linear-gradient(top, rgba(64,150,238,0) 0%,rgba(58,73,96,1) 52%,rgba(64,150,238,0) 100%);
  background: -ms-linear-gradient(top, rgba(64,150,238,0) 0%,rgba(58,73,96,1) 52%,rgba(64,150,238,0) 100%);
  background: linear-gradient(to bottom, rgba(64,150,238,0) 0%,rgba(58,73,96,1) 52%,rgba(64,150,238,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#004096ee', endColorstr='#004096ee',GradientType=0 );

  width: 2px;
  height: 100%;
  float: left;
}

.heading {
  float: left;
  width: 100%;
  position: relative;
  z-index: 1000;
  padding: 25px 0;
  //background: rgba(#080d14, .95);

  background: -moz-linear-gradient(top, rgba(8,13,20,1) 0%, rgba(8,13,20,1) 36%, rgba(8,13,20,0.85) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(8,13,20,1)), color-stop(36%,rgba(8,13,20,1)), color-stop(100%,rgba(8,13,20,0.85)));
  background: -webkit-linear-gradient(top, rgba(8,13,20,1) 0%,rgba(8,13,20,1) 36%,rgba(8,13,20,0.85) 100%);
  background: -o-linear-gradient(top, rgba(8,13,20,1) 0%,rgba(8,13,20,1) 36%,rgba(8,13,20,0.85) 100%);
  background: -ms-linear-gradient(top, rgba(8,13,20,1) 0%,rgba(8,13,20,1) 36%,rgba(8,13,20,0.85) 100%);
  background: linear-gradient(to bottom, rgba(8,13,20,1) 0%,rgba(8,13,20,1) 36%,rgba(8,13,20,0.85) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#080d14', endColorstr='#d9080d14',GradientType=0 );

  .heading-decks {
    float: left;
    width: 53%;
  }

  .heading-my-deck {
    float: left;
    width: 47%;
  }

  span {
    float: left;
    font-size: 17px;
    color: #435365;
    font-weight: 600;
    margin: 0 0 0 20px;
  }

  a {
    font-size: 17px;
    color: #435365;
    margin: 0 0 0 30px;
    font-weight: 600;
    cursor: pointer;

    &.active {
      color: #c3cdd8;
    }

  }
}

.clear-space {
  float: left;
  width: 100%;
  height: 100px;
}