//@import "style";
@import "backbone.modal";
@import "backbone.modal.theme";

$height: 600px;
$game-height: 800px;

.board {
  height: $game-height;
  border: 1px solid black;
}

.battleside {
  width: 100%;
  height: $height/2;
  border: 1px solid black;
}

.field {
  width: 100%;
  height: 100px;
  border: 1px solid black;/*
  overflow: hidden;

  &:hover {
    overflow: visible;
  }*/

  .card:first-child {
    margin-left: 0 !important;
  }
  &.active {
    box-shadow: 0px 0px 15px #ffbb0b;

  }
}

.field:hover, .field-single:hover {
  box-shadow: 0px 0px 10px #000;
}

.field-hand {
  margin-top: 20px;
  .card {
    margin-left: -31px;
    &:first-child {
      margin-left: 0 !important;
    }
    &:hover {
      position: relative;
      z-index: 10;
      transform: scale(1.25,1.25);
    }
  }
}

.passing {/*
  display: none;*/
}

.field-single {
  border: 1px solid black;/*
  width: 85px;*/
  /*margin: 5px;*/
  height: 98px;
}

.left-side {
  //height: $game-height;
}

.game-info {
  height: $game-height/2 - 100px;
  width: 100%;
  border: 1px solid black;
  background: rgba(252, 219, 125, 0.51);
}

.removeBackground {
  background: 0;
}

.mid-line {
  width: 100%;
  height: 1px;
  border: 1px solid black;
  margin: 5px;
}

.right-side {
  border: 1px solid black;
  height: $game-height/2;
}

.card {
  border: 2px solid black;
  float: left;
  margin: 3px;
  height: 90px;
  overflow: hidden;
  img {
    height: 120px;
  }
  span {
    color: #00b000;
    font-weight: bold;
    font-size: 24px;
    position: absolute;
    text-shadow: 1px 1px #101010;
    margin-top: 55px;
    margin-left: 30px;
    cursor: default;
  }

  &.disabled {
    opacity: 0.5;
  }

  &.activeCard {
    position: relative;
    z-index: 11;
    transform: scale(1.5,1.5) !important;
  }
}

.card-preview {
  position: absolute;/*
  display: none;*/
  z-index: 110;
}

i {
  display: block;
  float: left;
  height: 40px;
  width: 40px;
  background: url("../../assets/ruby-grey.png");
  &.ruby {
    background: url("../../assets/ruby.png");
  }
}

